@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --moss-green: #424A26;
  --forest-green: #2A3019;
  --dark-brown: #A47E4F;
  --darker-brown: #59452C;
  --light-brown: #D7BE69;
  --day-subtext: #4D4D4D;
  --universal-gray: #CFCFCF;
  --day-border: #D9D9D9;
  --day-card: #FFFFFF;
  --day-text: #000000;
  --background: var(--light-brown);
  --foreground: #2A3019;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
